@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Montez&family=Montserrat:wght@200;400;700;800&family=Playfair+Display:wght@500;600;700;900&family=Taviraj:wght@400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background-color: #303030;
  color: #dadada;
  overflow-x: hidden;
  letter-spacing: 1px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

body.light {
  color: #303030;
  background-color: #dadada;
}

@media (max-width: 959px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 419px) {
  body {
    font-size: 14px;
  }
}

hr {
  color: inherit;
  opacity: .1;
}

.m-1 {
  margin: 1em;
}

.mx-1 {
  margin: 0 1em;
}

.my-1 {
  margin: 1em 0;
}

.p-1 {
  padding: 1em;
}

.px-1 {
  padding: 1em 0;
}

.py-1 {
  padding: 1em 0;
}

.m-2 {
  margin: 2em;
}

.mx-2 {
  margin: 0 2em;
}

.my-2 {
  margin: 2em 0;
}

.p-2 {
  padding: 2em;
}

.px-2 {
  padding: 2em 0;
}

.py-2 {
  padding: 2em 0;
}

.m-3 {
  margin: 3em;
}

.mx-3 {
  margin: 0 3em;
}

.my-3 {
  margin: 3em 0;
}

.p-3 {
  padding: 3em;
}

.px-3 {
  padding: 3em 0;
}

.py-3 {
  padding: 3em 0;
}

.m-4 {
  margin: 4em;
}

.mx-4 {
  margin: 0 4em;
}

.my-4 {
  margin: 4em 0;
}

.p-4 {
  padding: 4em;
}

.px-4 {
  padding: 4em 0;
}

.py-4 {
  padding: 4em 0;
}

.m-5 {
  margin: 5em;
}

.mx-5 {
  margin: 0 5em;
}

.my-5 {
  margin: 5em 0;
}

.p-5 {
  padding: 5em;
}

.px-5 {
  padding: 5em 0;
}

.py-5 {
  padding: 5em 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: none;
}

.button {
  color: #202020;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  background-color: #d8cc25;
  padding: .6em 1em;
  border-radius: 15px;
  border: none;
  -webkit-box-shadow: -1px -1px 1px #000000, 1px 1px 1px #000000;
          box-shadow: -1px -1px 1px #000000, 1px 1px 1px #000000;
}

.button:hover {
  background-color: #e8e17b;
  color: initial;
}

img {
  width: 100%;
}

.sec-btn:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

.sec-btn:hover:after {
  width: 100%;
  color: #dadada;
  background: #d8cc25;
}

.intro {
  position: relative;
  height: 100vh;
}

.intro__text {
  position: absolute;
  top: 40%;
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2em;
  color: white;
  width: 100%;
  -webkit-transform: translate(-50% 50%);
          transform: translate(-50% 50%);
  z-index: 30;
}

.intro__text h3 {
  text-shadow: 2px 2px 2px #000, 2px 2px 2px #000;
}

@media (min-width: 860px) {
  .intro__text h3 {
    font-size: 3em;
  }
}

.intro__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.intro__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__btns > * {
  margin: 5px;
}

@media (max-width: 419px) {
  .intro__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro .fa-angle-double-down {
  position: absolute;
  bottom: 1em;
  right: 1em;
  cursor: pointer;
  font-size: 3em;
  -webkit-animation: zoom-in-zoom-out 2s ease-out infinite;
          animation: zoom-in-zoom-out 2s ease-out infinite;
}

.intro .fa-angle-double-down:hover {
  color: #d8cc25;
}

@-webkit-keyframes zoom-in-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.side-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: fixed;
  top: 50%;
  z-index: 60;
  left: 0;
  margin-left: 0;
  background-color: #202020;
}

.side-bar > * {
  color: #d8cc25;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #303030;
}

.side-bar > * i {
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.side-bar > * i:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  color: #d8cc25;
}

.about {
  padding: 2em;
}

.about p {
  width: 100%;
  margin: 15px auto;
}

@media (min-width: 860px) {
  .about p {
    width: 70%;
  }
}

.about .skills {
  text-align: center;
  padding: 1em;
  /* margin: 2em auto; */
}

.about .skills .tools {
  margin: 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .skills .tools > * {
  font-size: 2em;
  margin: 10px;
}

.projects {
  padding: 1em;
  text-align: center;
  position: relative;
}

.projects .slider-container {
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  padding: 1em;
}

.projects .slider-container .slide {
  display: none;
  padding: 2em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.projects .slider-container .slide-text {
  margin: auto;
}

.projects .slider-container .slide-text p {
  width: 60%;
  margin: 1em auto 2em;
}

.projects .slider-container .slide.active {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

@media (max-width: 959px) {
  .projects .slider-container .slide.active {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.projects .arrow {
  position: absolute;
  z-index: 20;
  background: none;
  font-size: 2em;
  color: #d8cc25;
  padding: 20px;
  top: 50%;
  -webkit-transform: translate(-50% 50%);
          transform: translate(-50% 50%);
  cursor: pointer;
  outline: none;
}

.projects .arrow:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-decoration: none;
}

.projects .left-arrow {
  left: 40px;
}

.projects .right-arrow {
  right: 40px;
}

.contact {
  padding: 2em;
}

.contact__wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

@media (max-width: 959px) {
  .contact__wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.contact__form {
  margin: auto;
}

.contact__form > * {
  width: 100%;
  padding: 1em;
  margin: 5px auto;
  background-color: inherit;
  border: none;
  border-radius: 20px;
  color: inherit;
  border: 1px solid #6666;
  outline: none;
}

.contact__form > *:focus {
  outline: none;
}

.contact__add {
  display: block;
}

.contact__add > * {
  padding: 1em;
}

.contact__add .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__add .social-links > * {
  font-size: 1.5em;
  margin-right: 10px;
}

.footer {
  font-size: 0.7em;
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  opacity: .4;
}

.footer .fa-arrow-up {
  z-index: 10;
  border: none;
  font-size: 1em;
  color: #d8cc25;
  background-color: #303030;
  padding: 10px;
  border-radius: 50%;
  -webkit-box-shadow: -3px -3px 3px #000000, 2px 1px 2px #101010;
          box-shadow: -3px -3px 3px #000000, 2px 1px 2px #101010;
}

h1,
h2,
h3,
h4 {
  font-family: "ubuntu", sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.5em;
}

.loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vh;
  z-index: 70;
  background-color: #202020;
}

.loader-container > * {
  width: 4vw;
  height: 4vw;
  border-radius: 100%;
  margin: 1.3vw;
  background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-animation: bounce 1.5s 0.5s linear infinite;
          animation: bounce 1.5s 0.5s linear infinite;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.blue {
  background-color: blue;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.violet {
  background-color: violet;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  25% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  75% {
    -webkit-filter: blur(1px);
            filter: blur(1px);
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  25% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  75% {
    -webkit-filter: blur(1px);
            filter: blur(1px);
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 50;
  font-weight: bold;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header.sticky {
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #202020;
  padding: 1em;
  -webkit-box-shadow: -1px -2px 2px #000000, 1px 1px 2px #000000;
          box-shadow: -1px -2px 2px #000000, 1px 1px 2px #000000;
}

.header__toggler {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  border-radius: 50%;
  height: 50px;
  width: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__toggler > * {
  display: block;
  width: 35px;
  height: 2px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background-color: #dadada;
}

.header__toggler > *:nth-child(2) {
  width: 25px;
  margin-top: 10px;
}

.header .logo {
  width: 6em;
}

#switch {
  position: relative;
  cursor: pointer;
  display: block;
  width: 5em;
  height: 2.5em;
  z-index: 51;
  border-radius: 160px;
  background-color: #353535;
  border: 2px solid black;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  -webkit-box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.4), inset 0 8px 8px rgba(0, 0, 0, 0.2), inset 0 -4px -4px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.4), inset 0 8px 8px rgba(0, 0, 0, 0.2), inset 0 -4px -4px rgba(0, 0, 0, 0.3);
}

#switch.active .indicator {
  left: 2.5em;
}

#switch .indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.3em;
  width: 2.5em;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#240303));
  background: linear-gradient(to bottom, #000000, #240303);
  border-radius: 50%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: inset 0 8px 40px rgba(255, 255, 255, 0.4), inset 0 4px 4px rgba(255, 255, 255, 0.3), inset 0 -4px -4px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 8px 40px rgba(255, 255, 255, 0.4), inset 0 4px 4px rgba(255, 255, 255, 0.3), inset 0 -4px -4px rgba(255, 255, 255, 0.2);
}

.nav {
  position: relative;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #303030;
  z-index: 100;
  overflow: hidden;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  opacity: 0;
  width: 0;
}

.nav.show {
  opacity: 1;
  width: 100%;
}

.nav__links {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  text-transform: uppercase;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  width: 100%;
  margin-top: auto;
}

@media (max-width: 419px) {
  .nav__links {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.nav__links > * {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #303030;
  background-color: #202020;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3em;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.nav__links > *:hover {
  background-color: black;
  color: #d8cc25;
}

.nav__close {
  position: absolute;
  color: #dadada;
  top: 1%;
  left: 2%;
  cursor: pointer;
  font-size: 3em;
}

.nav__close:hover {
  color: red;
}
/*# sourceMappingURL=main.css.map */