html{
  background-color:cadetblue;
  color: whitesmoke;
}
*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: whitesmoke;
  width: 100vw;
  max-width: 100%;
  background-color: cadetblue;
}

h1,
h2,
h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}
h3{
  font-size: 2rem;
}
p{
font-size: 18px;
padding: 10px;
}
@media only screen and (max-width: 600px){
h1{
font-size: 2rem;
}
h2{
font-size: 1.5rem;
}
h3{
font-size: 1rem;
}
a{font-size: 18px;}
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

img {
  display: block;
  width: 100%;
}
.nav{
  display: flex;
   justify-content: flex-end;
}
.nav-list {
display: flex;
padding: 1rem;
}
.nav-list a{
color: #fdfdea;
padding: 2rem;
font-size: 1.5rem;
font-weight: 300;
}
.nav-list a:hover{
color: crimson;
}

.header{
  background-color: #1ab6a1;
  position: fixed;
  width: 100%;
  box-shadow: black;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.logo{
  width: 130px;
  height: auto;
  margin: 20px;
}

@media only screen and (max-width: 600px){
.logo{
  display: none;
}
}
.button{
color: #005661;
background-color: cornsilk;
font-size: 18px;
font-weight: 400;
padding: 10px 20px;
display: inline-block;
border-radius: 20px;
text-align: center;
margin: 1.5rem;
}

.button:hover{
color:cornsilk;
background-color: crimson;
}

#about-section{
   display: block;
   text-align: center;
   height: 100vh;
   width: 100%;
}
.intro{
 position: relative;
 top: 300px;
}
#projects{
 background-color: #005661;
 display: block;
 text-align: center;
}

.project-tile{
padding-top: 3rem;
width: 100%;
max-width: 100vw;
display: flex;
flex-direction: row ;
justify-content: space-around;
flex-wrap: wrap;

}

@media only screen and (max-width: 600px){
.project-tile{
  display: grid;
}
}

@media only screen and (max-width: 720px){
.project-tile{
  display: grid;
}
}

@media only screen and (max-width: 900px){
.project-tile{
  display: grid;
}
}
.project-tile img{
width: 350px;
height: 450px;
}
.social-links{
display: flex;
flex-direction: row;
justify-content: center;
}
#contact{
background-color: #1ab6a1;
height: 50vh;
display: block;
}
#contact a{
color: black;
padding: 10px;
}

#contact a:hover{
color: crimson;
transform: translate(0, 10px);
transition: all 1s;
}
