html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background-color: #181818;
  color: #d5d5d5;
  overflow-x: hidden;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4 {
  font-family: "ubuntu", sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 1.7em;
  margin: 1em auto;
}
h4{
  font-size: 1.5em;
}
p {
  font-size: 1em;
  font-weight: 200;
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  padding: 15px;
  background-color: #101010;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  box-shadow: -3px -3px 7px #000000, 2px 2px 5px #000000;
}

.nav-links {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  margin: auto 40px;
  transition: all 0.7s ease;
}
.nav-links a {
  padding: 10px;
}

nav .active {
  color: #91ff91;
}
.nav a:hover {
  color: #91ff91;
  /* border-top: 1px solid #91ff91;
   border-bottom: 1px solid #91ff91; */
}

.logo {
  width: 7em;
}

#ham {
  display: none;
  cursor: pointer;
  transition: all 0.7s ease;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background-color: #91ff91;
  border-radius: 20px;
}

.intro {
  padding: 8em;
}
.introText {
  margin: 8em 0px 5em 0px;
  display: block;
  justify-content: center;
  text-align: center;
}
.introPic {
  margin: 6em 0em 3em 0em;
}
.intro span {
  font-size: 2em;
  color: #91ff91;
  font-family: "Ubuntu", sans-serif;
}

.row {
  padding: 3em;
}

.button {
  color: #000000;
  background-color: #91ff91;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: -3px -3px 7px #000000, 2px 2px 5px #181818;
}

.button:hover {
  text-decoration: underline;
  color: initial;
}

#about {
  background-color: #101010;
  /* width: 70%; */
}
#about a {
  color: #91ff91;
}
#about a:hover {
  text-decoration: underline;
}

.skills {
  text-align: center;
  padding: 1em;
  margin: 2em auto;
}
.skills h4{
  font-weight: bold;
}
.tools{
  margin: 1rem auto;
 display: flex;
 justify-content: center;
 width: 100%;
}
.tool{
   background-color: rgba(255, 255, 255, 0.16);
   display: flex;
   width: 50%;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

@media (max-width:991px) {
  .tools{
    flex-direction: column;
  }
  .tool{
    width: 100%;
  }
}
.tools img{
  width: fit-content;
  height: 2.5rem;
  margin: 1rem;
}

#contact {
  background-color: #101010;
  font-size: 18px;
}
address {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact a,
p {
  margin: 5px;
}

.contact-text {
  display: block;
  padding: 20px;
  width: 60%;
  margin: 10px auto;
}
.fa {
  font-size: 25px;
  margin: 5px auto;
}
#contact a:hover,
.fa:hover {
  color: #91ff91;
  text-decoration: underline;
  /* transform: translate(0, 5px); */
  transition: all 0.3s;
}
.contact {
  justify-content: space-around;
}
.add,
.form {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  width: 40%;
  border-radius: 20px;
  box-shadow: -1px -2px 5px #000000, 3px 3px 7px #000000;
}

.form input {
  width: 90%;
  padding: 12px;
  margin: 10px auto;
  background-color: #101010;
  border: none;
  border-radius: 20px;
  box-shadow: inset 2px 2px 7px #0a0a0a, inset -3px -3px 7px #0a0a0a;
  color: #eeeeee;
  /* background-color: #c3edb1;*/
}

.form input:last-child {
  background-color: #91ff91;
  margin-top: 10px;
  width: auto;
  padding: 10px 20px;
  color: #000000;
  border: none;
  box-shadow: -3px -3px 7px #000000, 2px 2px 5px #181818;
}
.form input:last-child:hover {
  color: initial;
  text-decoration: underline;
}
.form input:focus {
  outline: none;
}

input[type="textarea"] {
  height: 100px;
}
.fa-arrow-up {
  position: absolute;
  z-index: 10;
  border: none;
  right: 0;
  font-size: 20px;
  color: #91ff91;
  margin: 20px;
  background-color: #0a0a0a;
  padding: 10px;
  border-radius: 50%;
  box-shadow: -3px -3px 7px #000000, 2px 2px 5px #101010;
}

#projects {
  background-color: #181818;
  display: block;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

#project a:hover {
  color: #91ff91;
}
.slider-container {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.27);
  /* height: 70vh; */
  width: 70vw;
  overflow: hidden;
  border-radius: 10px;
  margin: 2rem auto;
  transition: 0.4s ease;
}
.slide {
  display: none;
  width: 80%;
  overflow-y: hidden;
  transition: all 0.4s ease;
}
.slide.active {
  display: block;
}

.arrow {
  position: absolute;
  z-index: 1;
 background: none;
  font-size: 3rem;
  color: #91ff91;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  outline: none;
}
.arrow:hover {
  color: aliceblue;
  text-decoration: none;
}

.left-arrow {
  left: 40px;
}
.right-arrow {
  right:  40px;
}

/*Hover Fall Effect*/
.fall-item {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}
.fall-item .mask,
.fall-item .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.fall-item img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
.fall-item h4 {
  color: #eaeaea;
  text-align: center;
}
.fall-effect .mask {
  background-color: rgba(0, 0, 0, 0.9);
  top: -200px;
  opacity: 0;
  transition: all 0.3s ease-out 0.5s;
}
.fall-effect h4 {
  opacity: 0;
  margin: 1em auto;
  transition: all 0.2s ease-in-out 0.1s;
}

.fall-effect a.button {
  font-size: 1em;
  font-weight: bold;
  padding: 0.7em 1em;
   top: -200px;
   margin: 1em auto;
  transition: all 0.2s ease-in-out 0.3s;
}
.fall-effect:hover .mask {
  opacity: 1;
  top: 0px;
  transition-delay: 0s;
}
.fall-effect:hover h4 {
  opacity: 1;
  transition-delay: 0.4s;
}
.fall-effect:hover a.btn {
  
   top: 0px;
  transition-delay: 0.6s;
}


.footer{
  font-size: .7em;
  color: #666666;
  text-align: center;

}
@media (max-width: 800px) {
  h3 {
    font-size: 1.5em;
    margin: .5em auto;
  }
  .intro span {
    font-size: 1.5em;
  }
  .contact-text {
    width: 80%;
  }
  .add,
  .form {
    width: 100%;
    margin: 10px auto;
  }
  .nav-links {
    position: fixed;
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
    top: 60px;
    background: #101010;
    height: 100vh;
    width: 100vw;
    /* border-radius: 10% 0 0 80%; */
    transition: all 0.7s ease;
    z-index: 10;
  }
.introPic{
    display: none;
  }
  .show {
    display: flex;
  }
  .nav-links a {
    margin: 15px auto;
    font-size: 20px;
  }
  #ham {
    display: block;
  }
}


@media (max-width: 530px) {
  body{
    font-size: 15px;
  }
  .tools img{
  height: 1.9rem;
  width: auto;
}
}
