*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background-color: #181818;
  color: #eaeaea;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}
h3{
  font-size: 25px;
}
p{
font-size: 18px;
padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon-bar{
  color: black;
}

.nav{
  padding: 10px;
  background-color: #101010;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: static;
}

.nav-links{
  display: flex;
  font-size: 18px;
  padding: 10px;
}
.nav a:hover{
  color: #91ff91;
  border-top: 1px solid #91ff91;
   border-bottom: 1px solid #91ff91;
}

.logo{
  width: 150px;
  height: auto;
}

.intro{
  padding: 30px;
  background-image: url(img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.intro span{
  font-size: 70px;
  font-family: 'Ubuntu', sans-serif;
}

.row{
  padding: 50px;
}

.button{
color: #000000;
background-color:  #91ff91;
font-size: 18px;
width: 20px;
font-weight: 400;
padding: 12px 20px;
border-radius: 20px;
}

.button:hover{
color: #AFE0AF;
background-color: #000000;
}

#about{
  background-color: #101010;
  width: 100%;
}
#about a{
  color:  #91ff91;;
}
#about a:hover{
  text-decoration: underline;
}
#projects{
 background-color: #181818;
 display: block;
 text-align: center;
 padding: 10px ;
}

.project a:hover{
  color:#91ff91;
}
#contact{
background-color: #101010;
font-size: 18px;
}

address{
  display: flex;
  flex-direction: column;
}
.social-links{
display: flex;
flex-direction: row;
}

#contact a{
color: #91ff91;
padding: 10px;
}

#contact p{
  color: #91ff91;
}
#contact a:hover{
transform: translate(0, 5px);
transition: all 0.3s;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  width: 50%;
}

.form input{
  width: 90%;
  padding: 10px;
  /* border-radius: 20px; */
  background-color: transparent;
  border-bottom: 1px solid #91ff91;
  color: #eeeeee;
}
.form input:focus{
  outline: none;
}