html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

// $brand-color: #26d3a8;
$brand-color: #e4b730;
$transition: .7s ease;
$bg-color: #161616;
$bg2-color: #0e0e0e;
$text-color:#e6e6e6;
$box-shadow-btn: -1px -1px 1px #000000,
1px 1px 1px #000000;
$box-shadow-box: -1px -2px 2px #050505,
1px 1px 2px #000000;
$border-radius-btn :5px;

@mixin respond($breakpoint) {
    @if $breakpoint==large {
        @media (min-width: 860px) {
            @content;
        }
    }
  
    @if $breakpoint==medium {
        @media (max-width: 959px) {
            @content;
        }
    }
  
    @if $breakpoint==small {
        @media (max-width: 419px) {
            @content;
        }
    }
  }
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: $bg-color;
    color: $text-color;
    overflow-x: hidden;
    padding: 0;
    letter-spacing: 1px;
    transition: .2s linear;

    &.light {
        color: $bg-color;
        background-color: $text-color;
    }
    @include respond(medium) {
        font-size: 14px;
    }
    @include respond(small) {
        font-size: 12px;
    }
}

hr{
    color: inherit;
    opacity: .1;
}
//margin and padding

$spaceamounts : (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
    .m-#{$space} {
        margin: #{$space}em;
    }

    .mx-#{$space} {
        margin: 0 #{$space}em;
    }

    .my-#{$space} {
        margin: #{$space}em 0;
    }

    .p-#{$space} {
        padding: #{$space}em;
    }

    .px-#{$space} {
        padding: #{$space}em 0;
    }

    .py-#{$space} {
        padding: #{$space}em 0;
    }
}

img {
    width: 100%;
}


