html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}
$transition: .7s ease;
$bg-color: #222222;
$bg2-color: #101010;
$text-color:#dadada;
$brand-color: #91ceff;
$box-shadow-btn: -3px -3px 7px #000000,
2px 2px 5px #000000;
$box-shadow-box: -1px -2px 5px #000000,
3px 3px 7px #000000;
$border-radius-btn :15px;
body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    background-color: $bg-color;
    color: $text-color;
    overflow-x: hidden;
    letter-spacing: 1px;
}


//margin and padding

$spaceamounts : (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
    .m-#{$space} {
        margin: #{$space}em;
    }

    .mx-#{$space} {
        margin: 0 #{$space}em;
    }

    .my-#{$space} {
        margin: #{$space}em 0;
    }

    .p-#{$space} {
        padding: #{$space}em;
    }

    .px-#{$space} {
        padding: #{$space}em 0;
    }

    .py-#{$space} {
        padding: #{$space}em 0;
    }
}